<link rel="stylesheet" href="/post.css">

<div class="main">
    <section class="content">
    
        <div class="hero">
            <div class="genres">
                <a href="/coming-soon" style="--genre:yellow"><%= post.category %></a>
                <a href="#" style="--genre:red"><%= post.genre %></a>
            </div>
            <h1><%= post.title %></h2>
            <div class="info">
                <div class="author">
                    <img src="/img/Naoto.jpg" alt="">
                    <p>Author: <a href="#"><%= post.author %></a></p>
                </div>
                <p><%= post.createdAt.toLocaleDateString() %></p>
            </div>
            <h2><%= post.description %></h2>
            <div class="img-box">
                <img src="">
                <a href="<% post.source %>">source</a>
            </div>
        </div>

        <div class="markdown">
            <p><%= post.markdown %></p>
        </div>

        <div class="share">
            <span class="fa fa-facebook"></span>
            <span class="fa fa-twitter"></span>
            <span class="fa fa-instagram"></span>
        </div>
    
    </section>

    <aside class="sticky">
        <div class="ctgry">Other</div>
        <div class="sticky-container">
            <div class="box box1">
                <a href="#"> 
                    <div class="img-box">
                        <img src="/img/FF.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Is the Fan Service too Much?</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box box2">
                <a href="#"> 
                    <div class="img-box">
                        <img src="/img/luffy.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Who's Luffys Mom?</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box box3">
                <a href="#"> 
                    <div class="img-box">
                        <img src="/img/CM.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>manga</b>
                        <h2>Chainsaw Man review</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
            <div class="box box4">
                <a href="#"> 
                    <div class="img-box">
                        <img src="/img/usopp.jpg" alt="">
                    </div>
                    <div class="text-ctr">
                        <b>anime</b>
                        <h2>Usopps Death?</h2>
                        <p>Click to read more!</p>
                    </div>
                </a>
            </div>
        </div>

    </aside>
</div>